#particles-js {
  position: static;
  width: 100% !important;
  height: 100vh !important;
  background-color: #09090a;
  z-index: 0;
  background-size: cover !important;
}

nav {
  z-index: 1;
}

#logo {
 position: absolute;
 top:5rem;
 z-index: -1;
}

canvas { /* particles canvas position settings and index, sets the scene */
  position: absolute;
  z-index: 0 !important;
}

@media (min-width: 320px) and (max-width: 1199px) {
  #myCanvas {
    display: flex;
    flex: 1;
    justify-content: center;
    right: 0 !important;
    width: 100% !important;
    height: 85% !important;
  }
}
